Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.

                                                                       #LIST

A list is a mutable, ordered collection of items in Python. It can hold elements of any type: integers, strings, even other lists. []
Lists are used to store multiple items in a single variable.

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

 Mutable is when something is changeable or has the ability to change

In [20]:
### Example 1: creating values in list

fruit = ["watermelon", "banana", "apple"]

print(fruit)

['watermelon', 'banana', 'apple']

In [12]:
### to check the lenght of value in list

print(len(fruit))

3

In [22]:
#### creating list with different datatypes

sales_data = [1200, 1500, 900, 2000, 1800]  
customer_names = ["Alice", "Bob", "Charlie"]  
mixed_data = [100, "Product A", True]

In [18]:
print(type(mixed_data))

<class 'list'>

In [26]:
### how to access list items

countries = ["nigeria", "ghana", "spain", "brazil", "japan", "sweeden", "usa"]
print(countries[2:])  ###print all values after the first two

['spain', 'brazil', 'japan', 'sweeden', 'usa']

In [28]:
countries[1] ###print the second value

'ghana'

In [30]:
countries[-1] ###print the last value

'usa'

In [36]:
countries[2:5]

['spain', 'brazil', 'japan']

Change a Range of Item Values
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [40]:
###changing values in list


countries = ["nigeria", "ghana", "spain", "brazil", "japan", "sweeden", "usa"]
countries[1:2] = ["mexico", "peru"]
print(countries)

['nigeria', 'mexico', 'peru', 'spain', 'brazil', 'japan', 'sweeden', 'usa']

Append Items
To add an item to the end of the list, use the append() method

In [44]:
countries = ["nigeria", "ghana", "spain", "brazil", "japan", "sweeden", "usa"]
countries.append("UAE")
print(countries)

['nigeria', 'ghana', 'spain', 'brazil', 'japan', 'sweeden', 'usa', 'UAE']

In [46]:
### Insert an item as the second position

countries.insert(1, "benin")
print(countries)

['nigeria', 'benin', 'ghana', 'spain', 'brazil', 'japan', 'sweeden', 'usa', 'UAE']

In [56]:
#### Extend List: To append elements from another list to the current list, use the extend() method.


countries = ["nigeria", "ghana", "spain", "brazil", "japan", "sweeden", "usa"]
state = ["lagos", "kano", "osun"]
countries.extend(state)
print(countries)

['nigeria', 'ghana', 'spain', 'brazil', 'japan', 'sweeden', 'usa', 'lagos', 'kano', 'osun']

In [62]:
Remove Specified Item        countries.remove("kano")     or removing using index   countries.pop(1)

In [ ]:
Sort the list alphabetically: countries.sort()              or               countries.sort(reverse = True) ##from highest to lowest

In [76]:
###using join in list


list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

                                                                    #Tuple

Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets. ()

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [84]:
names = ("shade", "eagle", "mike", "dara", "moses", "favour", "musa")
print(names)

('shade', 'eagle', 'mike', 'dara', 'moses', 'favour', 'musa')

In [92]:
print(type(names))

<class 'tuple'>

In [ ]:
### Access Tuple Items

print(names[1])                     print(names[-1])               print(names[2:5])

In [107]:
if "musa" in names:
  print("Yes, 'musa' is in the fruits tuple")

Yes, 'musa' is in the fruits tuple

In [111]:
#### Add tuple to a tuple

names = ("shade", "eagle", "mike", "dara", "moses", "favour", "musa")
surname = ("shayo",)
names += surname

print(names)

('shade', 'eagle', 'mike', 'dara', 'moses', 'favour', 'musa', 'shayo')

Remove Items: before u can remove any item in tuple, we have to convert to list and chnage back to turple after the change


Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items

In [115]:
names = ("shade", "eagle", "mike", "dara", "moses", "favour", "musa")
deletename = list(names)
deletename.remove("favour")
names = tuple(deletename)
print(names)

('shade', 'eagle', 'mike', 'dara', 'moses', 'musa')

In [120]:
##### join in tuple 


tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

                                                                    #SET

A set is an unordered collection of unique elements.   { }

ðŸ”‘ Key Properties:
Unordered

No duplicates

Mutable

In [135]:
customers = {"John", "Jane", "John", "Doe", "Jane", "peter", "tolu"}

In [137]:
customers

{'Doe', 'Jane', 'John', 'peter', 'tolu'}

In [139]:
#### addding values in set


customers = {"John", "Jane", "John", "Doe", "Jane", "peter", "tolu"}
customers.add("bayo")

print(customers)

{'John', 'peter', 'bayo', 'Jane', 'Doe', 'tolu'}

In [141]:
values = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

values.update(tropical)

print(values)

{'mango', 'papaya', 'pineapple', 'cherry', 'banana', 'apple'}

In [151]:
###removing items


customers = {"John", "Jane", "John", "Doe", "Jane", "peter", "tolu"}

customers.discard("john")

print(customers)

{'John', 'peter', 'Jane', 'Doe', 'tolu'}

In [153]:
### joining two set together 


set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

                                                                #DICTIONARY

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates. {}

In [163]:
product_prices = {"Laptop": 999, "Phone": 699, "Tablet": 299}  
customer = {"name": "Alice", "age": 30, "purchases": ["Laptop", "Phone"]}

In [165]:
print(product_prices)

{'Laptop': 999, 'Phone': 699, 'Tablet': 299}

In [171]:
#### To get specific values in a dic


print(customer["name"])

Alice

In [207]:
#### The keys() method will return a list of all the keys in the dictionary.

x = customer.keys()
x

dict_keys(['name', 'age', 'purchases'])

In [205]:
x = customer.values()
x

dict_values(['Alice', 30, ['Laptop', 'Phone']])

In [193]:
#The items() method will return each item in a dictionary, as tuples in a list

x = customer.items()
x

dict_items([('name', 'Alice'), ('age', 30), ('purchases', ['Laptop', 'Phone']), ('color', 'red')])

In [191]:
###Add a new item to the original dictionary

customer["color"] = "red"

Change Values----------
You can change the value of a specific item by referring to its key name:

In [199]:
product_prices.update({"laptop": 1000})
product_prices

{'Laptop': 999, 'Phone': 699, 'Tablet': 299, 'laptop': 1000}

In [201]:
###how to delete values


customer.pop("color")

'red'

                                                              Nested Dictionarie

Nested Dictionaries is the process whereby A dictionary can contain dictionaries

In [210]:
children = {
  "child1" : {
    "name" : "precious",
    "year" : 2004,
    "gender": "female"
  },
  "child2" : {
    "name" : "ben",
    "year" : 2007,
    "gender": "female"

  },
  "child3" : {
    "name" : "saka",
    "year" : 2000,
     "gender": "male"

  }
}

In [212]:
print(children)

{'child1': {'name': 'precious', 'year': 2004, 'gender': 'female'}, 'child2': {'name': 'ben', 'year': 2007, 'gender': 'female'}, 'child3': {'name': 'saka', 'year': 2000, 'gender': 'male'}}

In [214]:
print(children["child2"]["name"])

ben